body {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 9fr;
}

button {
  cursor: pointer;
}

.nav {
  background-color: white;
  box-shadow: 0 2px 50px rgba(0, 0, 0, 0.1);
  z-index: 2;
  display: grid;
  grid-template-columns: 9fr 1fr;
  justify-items: start;
  align-items: center;
  padding: 20px;
}

/* .nav > div {
  border: 1px solid red;
} */

.nav > .nav-title {
  font-size: 2.4rem;
  margin-left: 10px;
}

.nav > .nav-about > button {
  border: none;
  height: 2rem;
  width: 5rem;
  border-radius: 4px;
  background: rgb(192, 159, 118);
  color: white;
}

.library {
  background-color: rgb(245, 245, 245);
  padding-top: 50px;

  display: grid;
  grid-template-rows: 1fr 4fr;
  justify-content: center;
  justify-items: center;
}

.library > .library-button > button {
  border: none;
  height: 6rem;
  width: 15rem;
  border-radius: 4px;
  background: rgb(192, 159, 118);
  color: white;
}

.library > .library-content {
  /* width:80vw; */
}

.library > .library-content > .library-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.library > .library-content > .library-cards > .card {
  height: 100px;
  width: 100px;
  border: 5px solid black;
  border-radius: 8px;
  padding: 24px;
}

/* add book to library button */
.overlay, .deleteOverlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

#addBookModal {
  cursor: default;
  height: 60%;
  width: 40%;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgb(192, 159, 118);
  border-radius: 8px;
}

#addBookForm {
  margin: 50px 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  text-align: center;
}
